{{> head page=pages.speakers}}
<script src="./js/modal.js" defer></script>
<body class="page-layout">
	{{> nav path="speakers.html"}}
	<h1 class="logo small"><a href="./">LvivCSS'19</a></h1>
	<h2 class="page-layout-title sticky">
		Наші спікери<br>
		<a class="call-to-action" href="http://bit.ly/lvivcss2019-become-a-speaker">запропонуй доповідь</a>
	</h2>
	<div class="page-layout-content columns">
		{{#each speakers}}
		<input type="checkbox" class="modal-toggle" id="{{this.image}}">
		<article class="column-card">
			<label for="{{this.image}}" class="card-collapse-action"><a class="action">Закрити</a></label>
			{{#if this.talkName}}<h3 class="talkname">{{this.talkName}}</h3>{{/if}}
			<h4>
				{{this.speakerName}}
				{{#if this.city}}<br><small>{{this.city}}</small>{{/if}}
			</h4>

			<img class="column-card-img"
				src="/assets/images/speakers/{{this.image}}.jpg"
				alt="{{this.speakerName}}">
			<div class="text">
			{{#if this.talkDescription}}<p class="description">{{this.talkDescription}}</p>{{/if}}
			<p>{{{this.speakerBio}}}</p>
			</div>
			<label for="{{this.image}}" class="card-expand-action"><a class="action">Детальніше</a></label>
		</article>
		{{/each}}
		<p class="cliffhanger">…далі буде…</p>
	</div>
</body>