<!DOCTYPE html>
<html lang="uk">

<head>
	<meta property="og:title" content="Це — спікери LvivCSS'19">
	<meta property="og:url" content="https://lvivcss.org/speakers.html">
	<meta property="og:description"
	content="Найкращі спікери з України та Білорусі, що виступатимуть на LvivCSS'19, найяскравішій конференції України">
	{{> head}}
	{{> def-og}}
	<meta name="description"
		content="Найкращі спікери з України та Білорусі, що виступатимуть на LvivCSS'19, найяскравішій конференції України">
	<link rel="stylesheet" href="css/page.layout.css">
	<link rel="stylesheet" href="css/page.layout.portrait.css" media="(orientation:portrait), (max-height: 480px)">
	<link rel="stylesheet" href="css/speaker.css">
	<title>Це — спікери LvivCSS'19. Вони готують для тебе свої доповіді.</title>
</head>

<body class="page">
	{{> nav path="speakers.html"}}
	<h1 class="logo small"><a href="./">LvivCSS'19</a></h1>
	<h2 class="page-title sticky">
		Наші спікери
		<a class="action-link" href="http://bit.ly/lvivcss2019-become-a-speaker">запропонуй доповідь</a>
	</h2>
	<section class="content columns">
		{{#each speakers}}
		<article class="speaker-info">
			{{#if this.talkName}}<h3>{{this.talkName}}</h3>{{/if}}
			<h4>
				{{this.speakerName}}
				{{#if this.city}}<br><small>{{this.city}}</small>{{/if}}
			</h4>
			
			<img class="speaker-photo"
				srcset="/assets/images/speakers/{{this.image}}.128.jpg 128w, /assets/images/speakers/{{this.image}}.86.jpg 86w"
				sizes="(max-width: 480px) 86px, 128px" src="/assets/images/speakers/{{this.image}}.jpg"
				alt="{{this.speakerName}}">
			{{#if this.talkDescription}}<p>{{this.talkDescription}}</p>{{/if}}
			<p>{{this.speakerBio}}</p>
		</article>
		{{/each}}
		<p class="cliffhanger">…далі буде…</p>
	</section>
</body>