- var filename = "speakers"

doctype
html(lang='en')
	head
		include shared/header.partial.pug
		title Спікери LvivCSS'2019
		meta(name="description" content="Найкращі спікери з України та Білорусі, що виступатимуть на LvivCSS'19, найяскравішій конференції України")
		link(rel="stylesheet", href="css/page.layout.css")
		link(rel="stylesheet", href="css/page.layout.portrait.css" media="(orientation:portrait)")
		link(rel="stylesheet" href="css/speaker.css")
		link(rel="stylesheet" href="css/lviv.css")
	body.page
		include shared/navigation.partial.pug
		h1.logo.small
			a(href="./") LvivCSS'19
		h2.page-title.sticky Наші спікери
			//- a.action-link(href="/tickets.html") придбати квитки
			a.action-link(href=src="https://docs.google.com/forms/d/e/1FAIpQLScQdBWmp7seXmeqPNBKo4cyzqrcx9i2LPwJp-1684-VcKYUsA/viewform") запропонувати свою доповідь
		section.content.columns

			each item in speakers
				article(class="speaker-info")
					if item.talkName
						h3= item.talkName
					h4= item.speakerName
					img(
						class="speaker-photo"
						srcset="/assets/images/speakers/" + item.image + ".128.jpg 128w, /assets/images/speakers/" + item.image + ".86.jpg 86w"
						sizes="(max-width: 480px) 86px, 128px"
						src="/assets/images/speakers/" + item.image + ".jpg"
						alt= item.speakerName
					)
					if item.talkDescription
						p= item.talkDescription
					if item.speakerBio
						p= item.speakerBio
			p.cliffhanger …далі буде…
