- var filename = "speakers"

doctype
html(lang='en')
	head
		include shared/header.partial.pug
		title LvivCSS'2019
		link(rel="stylesheet" href="css/speaker.css")
	body.page
		include shared/navigation.partial.pug
		h1.logo.small
			a(href="./") LvivCSS'19
		h2.page-title.sticky Спікери
				//- a.link.not-so.important(href="/tickets.html") квитки
				//- a.important.not-so.link(href="./call-for-papers.html") стати спікером
		section.content.columns

			each item in speakers
				article(class="speaker-info")
					if item.talkName
						h3= item.talkName
					h4= item.speakerName
					img(
						class="speaker-photo"
						src="/assets/images/speakers/" + item.image + ".png"
					)
					if item.talkDescription
						p= item.talkDescription
					if item.speakerBio
						p= item.speakerBio
			p.cliffhanger …далі буде…
