- var filename = "speakers"

doctype
html(lang='en')
	head
		include shared/header.partial.pug
		title Спікери LvivCSS'2019
		link(rel="stylesheet", href="css/page.layout.css")
		link(rel="stylesheet", href="css/page.layout.portrait.css" media="(orientation:portrait)")
		link(rel="stylesheet" href="css/speaker.css")
	body.page
		include shared/navigation.partial.pug
		h1.logo.small
			a(href="./") LvivCSS'19
		h2.page-title.sticky Наші спікери
			//- a.action-link(href="/tickets.html") придбати квитки
			a.action-link(href="./call-for-papers.html") стати спікером
		section.content.columns

			each item in speakers
				article(class="speaker-info")
					if item.talkName
						h3= item.talkName
					h4= item.speakerName
					img(
						class="speaker-photo"
						src="/assets/images/speakers/" + item.image + ".jpg"
						alt= item.speakerName
					)
					if item.talkDescription
						p= item.talkDescription
					if item.speakerBio
						p= item.speakerBio
			p.cliffhanger …далі буде…
